.j-input {
    margin-top: 1em;
    border-radius: 1em;
    border: none;
    padding: 10px;
}

.j-btn {
    margin-top: 2em;
}

.j-container h1 {
    letter-spacing: 2px;
}

.j-container p {
    font-size: 0.75em;
    color: lightgrey;
    letter-spacing: 2px;
}